#header {
  background-color: white;

  top: 0;
  display: flex;
  width: 60vw;
  justify-content: flex-start;
  align-items: center;

  overflow:visible;
}

#header img {
  height: 100%;
}

#SAHP {
  min-width: 340px;
}

#FTO {
  min-width: 110px;
}
@media only screen and (max-width: 590px) {
  #FTO {
    display: none;
  }

  #header {
    display: flex;
    justify-content: center;
  }
}