.helpful_links {

  width: 30vw;
  min-width: 270px;
  height: 100vh;
  /* background: grey; */

  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;

  border-left: dashed black 5px;
  z-index: 1;

  background-color: rgba(255,255,255, 0.95);
  
}

.helpful_links div {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 180px 25px;
}

.helpful_links button {
  border-radius: .5em;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: 100%;
}


.helpful_links a {
  width: 100%;
  height: 40px;
  margin: 5px;
}

.copy_icon_div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.copy_icon {
  max-width: 25px;
  cursor: pointer;
}

#helpful_menu_icon {
  display: none;
  width: 3em;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  z-index: 90;
}


@media only screen and (max-width: 870px) {
  .helpful_links {
    display: none;
  }

  .helpful_links h1 {
    margin-top: 1.5em;
  }

  #helpful_menu_icon {
    display: block;
  }
}